html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    line-height: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 14px;
    overflow-y: scroll;
}
div.hide  {
    display: none;
}
img {
    outline: 0;
}
.container {
    padding: 10px 0;
    width: 980px;
    margin: 0 auto;
}
#min_max_div {
    width: 85%;
    min-width: 980px;
    margin: 0 auto;
}
canvas {
    cursor: crosshair;
    margin: 0 auto;
    display: block;
}
#graph_tabs {
    position: relative;
}
#top_line {
    position: absolute;
    height: 51px;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: #f9f9f9;
}
#top_line div > span {
    float: right;
    line-height: 25px;
    font-size: 18px;
    margin: 0 4px;
}
#top_line img {
    float: right;
}
#tabs {
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 42px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-left: 0px;
    width: 100%;
}
#tabs li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
    box-sizing: border-box;
}
#tabs li a.active, #tabs li a.active:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
#tabs li a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #2a6496;
}
#tabs li a:hover {
    text-decoration: none;
    background-color: #eee;
    border-color: #eee #eee #ddd;
    color: #2a6496;
}
#tabs_content > div {
    /*opacity: 0;*/
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}
#tabs_content > div.active {
    /*opacity: 1;*/
    display: block;
    z-index: 10;
}
#tabs_content {
    position: relative;
    height: 504px;
    margin: 2px 0 0;
}
table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}
table th {
    border-top: 0;
}
table th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}
table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table>tbody>tr:nth-child(odd)>td, table>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}
#data_table, #params {
    margin: 40px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}
label img, label span {
    display: inline-block;
}
label img {
    margin: 0 4px;
}
label[for="reset_zoom"], label[for="reset_data"], label.button {
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 3px 8px;
    cursor: pointer;
}
label[for="reset_zoom"]:hover, label[for="reset_data"]:hover, label.button:hover {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
label[for="reset_zoom"]:active, label[for="reset_data"]:active, label.button:hover {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
#table_title img {
    margin: 0 4px;
}
#params td {
    vertical-align: middle;
    text-align: center;
}
form table {
    margin: 20px 0;
}
form table td {
    vertical-align: middle;
}
form table td span {
}
form table tr {
    height: 51px;
}
form input[type="text"], form select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-sizing: border-box;
    text-transform: none;
}
form input[type="checkbox"], form select {
    margin: 4px 0 0;
    line-height: normal;
    box-sizing: border-box;
}
form input[type="text"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
form label.button {
    margin: 0 10px 0 0;
}
form table .edited {
    background-color: #ffffe1;
    border-color: #FF8F00;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 163, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(253, 140, 18, 0.6);
}
#error_div {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}
#error_text {
    width: 600px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -300px;
}
#error_text.red {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}
#error_text.yellow {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
#error_text.green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
#error_text.blue {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
#close {
    padding: 0;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    position: absolute;
    right: 5px;
    top: 5px;
}
#close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}